<div>
	<header>
		<Strong><h3 class="aboutheader">About Us</h3></Strong>
	</header>
	<p class="about">Winse Décor provides creative design solutions for residential and commercial Interiors. We work with private home owners, architects, property management companies and 
business owners. Our projects vary from new builds to extensions; from total refurbishments to individual rooms.</p>

<p class="about">We pride ourselves on our ability to understand each client’s needs as well as the 
specific projects requirement and translates their ideas, taste and personality into elegance and unique ambience. Winse décor marries comfort and functionality with beauty and style in contemporary designs born out of timelessly classic tastes. Our professionalism and attention to detail ensures the smooth operation of every project, right up until the last picture is hung on the wall.
</p>

<Strong><h3 class="aboutheader">How Does Winse Décor Operate?</h3></Strong>
<p class="about">After receiving a brief from our client we do a completely unique presentation for the client: this will include a furniture layout and mood boards indicating the exact furniture and fabrics we propose to use as well as giving visual examples of the “look” we think will work best. We will also do an itemized quote. This meeting will allow the client to make any desired changes, additions, etc and then decide what he/she would like to proceed with.</p>
<p class="about">We then send a quotation as to this effect and we require a75% deposit to start with the project after which the balance is paid after the job is done satisfactorily.</p>
<p class="about">Winse décor will then arrange an installation date or period that suits the client, and completely oversee and manage all deliveries and furniture placement, we also offer to accessorize the entire house, hotel or office with artwork, mirrors, rugs, etc.</p>

<Strong><h3 class="aboutheader">Creative Director</h3></Strong>
<p class="about">Osagbemi Oluwaseun is a certified interior designer from San-Francisco Institute of Interior Design in California USA. She is the design consultant and CEO of Winse Décor.</pr>
<p class="about">She holds a BSc. Political Science and a master in Business Management from the University of Lagos. She has 5yrs work experience from Cotecna Destination Inspection Lagos before pursuing her interest in interior design and decoration.</pr>
</div>