<div>
	<header>
		<h2 class="aboutheader">Services</h2>
	</header>
	<ul>
		<li>Interior Design & decoration</li>
		<li>Colour & Design consultancy</li>
		<li>Window treatments, upholstery & Soft Furnishings</li>
		<li>Source & select Interior Finishes, Furniture & Equipment</li>
		<li>Bespoke Cabinetry</li>
		<li>Wallpaper and Installations</li>
	</ul>
</div>