<%- model_class = Gallery -%>
<!--<div class="page-header">
<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>-->
<h1 class="text-center">Coming Soon</h1>
<div class="container text-center">
	<%= image_tag @image.url %>
</div>

	  