<h2 class="pages">Our Gallery</h2>

<% @images.in_groups_of(4, false).each do |group|%>
<div class='row'>
	<% group.each do |image|%> 
	<div class='col-md-3'> 
		<%= link_to image_tag("#{image.url}", height:"150", width:"200"), image_path(image) %>
	<p>
		<%= image.name %>
	</p>
	<p>
		<%= link_to 'Show', image %>
		<%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
	</div>
	<% end %>
</div>
<% end %>