/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require owl.carousel
 *= require owl.theme
 *= require_tree .
 *= require_self
 */
.navbar-inner{
    /*height: 90px*/
    min-height: 60px
    }
.navbar .brand{
    padding: 0 10px;
}
.navbar .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.brand img{
    margin-top: 5px
}
.aboutheader{
	line-height:2em;
	margin-bottom:0.25em;
	text-transform:bold;
	font-family: serif;
	text-align: center;
}
.about{
	font-family: serif;
	font-size:1.1em;
}

.aboutheader .about {
	font-size:0.5em;
}

@media (max-width:768px) {
    .brand img{
        margin-bottom: 5px
    }
    .navbar .btn-navbar{
        /*margin-right: -15px;*/
    }
    .navbar .nav > li > a {
        padding: 10px 15px;
    }
}

.image {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.slided {
  display:none;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
#slided .slide-header {
  display: none
}
#slided .slide-footer {
  margin-left: auto;
  width: 600px;
}
.slide-footer .previous {
  width:75px;
  float:left;
  text-align:left;
}
.slide-footer .next {
  width:75px;
  float:right;
  text-align:right;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
