<footer class="footer">
	<ul class="list-inline text-center">
		<li><%= link_to "ABOUT",   '#' %></li>
		<li><%= link_to "TERMS OF SERVICE", '#' %></li>
		<li><%= link_to "PRESS", '#' %></li>
	</ul>
</footer>
