<header>
	<div class="navbar-inner navbar-fixed-top navbar-default" role="navigation">
		<div class="container"> 
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WINSEDECOR</a>
			</div>   
			<div class="navbar-collapse collapse"> 
			<ul class="nav navbar-nav nav-pills pull-right in-line">
				<li><%= link_to "SERVICES",   '#'%></li>
				<li><%= link_to "GALLERY",   '#'%></li>
				<li><%= link_to "BLOG",   '#'%></li>
				<li><%= link_to "CONTACT",   '#'%></li>	
			</ul>
			</div>
		</div>
	</div>
</header>
